<%- include('partials/header') %>

<div class="background">
    <div id="checkout-summary">
        <div class="small-11 large-8 small-centered columns">
            <ul class="pricing-table">
              <li class="title">Thank you for considering a donation!</li>
              <li class="cta-button">
                   <h6>Payments are securely handled by <a target="_blank" href="https://stripe.com/">Stripe</a></h6>
                   <form action="/donate" method="POST">
                    <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_ka8SYJXEKiRDDvDiuXka3sCG00LkSpqV5ys"
                        data-image="assets/img/BigTower.png"
                        data-name="Berkeley Investment Group"
                        data-description="Big Donation"
                        data-amount="210886">
                    </script>
                    </form>
              </li>
            </ul>
        </div>
    </div>

<%- include('partials/footer') %>