<%- include('partials/header') %>

    <div id="showcase">
      <div class="container">
        <div class="showcase-content">
          <h1><span class="text-primary">Welcome</span> To BEAR</h1>
          <p class="lead">Intrested in networking?</p>
          <a class="btn" href="/about">About Our Club</a>
        </div>
      </div>
    </div>
  </header>

<section id="home-info" class="bg-dark">
  <div class="info-img"></div>
  <div class="info-content">
    <h2><span class="text-primary">The Beauty</span> Of Our Club</h2>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda
        aliquam dolor alias iste autem, quaerat magni unde accusantium qui
        fuga placeat quidem quo pariatur, voluptatum, ea sequi? Corporis,
        explicabo quisquam dolor placeat praesentium nesciunt mollitia quos
        nobis natus voluptatum asperiores!
    </p>
    <a href="about.html" class="btn btn-light">Read More</a>
  </div>
</section>

<section id="features">
    <div class="box bg-light">
      <i class="fas fa-chart-line fa-3x"></i>
      <h3>Finance</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, omnis?</p>
    </div>
    <div class="box bg-primary">
        <i class="fas fa-database fa-3x"></i>
        <h3>Quantitative Analysis</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, omnis?</p>
    </div>
    <div class="box bg-light">
        <i class="fas fa-university fa-3x"></i>
        <h3>Investment/Banking</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, omnis?</p>
    </div>
  </section>

<div class="clr"></div>

<%- include('partials/footer') %>